In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm
%matplotlib inline

ImportError: this version of pandas is incompatible with numpy < 1.20.3
your numpy version is 1.19.2.
Please upgrade numpy to >= 1.20.3 to use this pandas version

In [2]:

train = pd.read_csv('~/input/DKT/data/train_data.csv', low_memory=False)
test = pd.read_csv('~/input/DKT/data/test_data.csv', low_memory=False)
sub = pd.read_csv('~/input/DKT/data/sample_submission.csv', low_memory=False)

# EDA

In [28]:
train['category_2'] = train['assessmentItemID'].str[2]
test['category_2'] = test['assessmentItemID'].str[2]
train['category_3'] = train['assessmentItemID'].str[4:7]
test['category_3'] = test['assessmentItemID'].str[4:7]

In [29]:
train

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,category_2,category_3
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,6,001
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,6,001
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,6,001
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,6,001
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,6,001
...,...,...,...,...,...,...,...,...
2266581,7441,A030071005,A030000071,0,2020-06-05 06:50:21,438,3,071
2266582,7441,A040165001,A040000165,1,2020-08-21 01:06:39,8836,4,165
2266583,7441,A040165002,A040000165,1,2020-08-21 01:06:50,8836,4,165
2266584,7441,A040165003,A040000165,1,2020-08-21 01:07:36,8836,4,165
2266585,7441,A040165004,A040000165,1,2020-08-21 01:08:49,8836,4,165